.titlesectionthree {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-21xl);
  display: inline-block;
  color: var(--esmeralda);
  width: 47.5rem;
  text-shadow: 1px 0 0#3b7a7d, 0 1px 0#3b7a7d, -1px 0 0#3b7a7d, 0-1px 0#3b7a7d;
}
.butWhatIs {
  margin: 0;
}
.subtitlesectionthree {
  position: absolute;
  top: 4.71rem;
  left: 0;
  display: inline-block;
  width: 18.93rem;
}
.notCriticize {
  font-family: var(--font-lato);
}
.textsectionthree {
  position: absolute;
  top: 12.64rem;
  left: 0;
  text-align: justify;
  display: inline-block;
  width: 80rem;
}
.sectionthree {
  position: absolute;
  top: 155.64rem;
  left: 11.43rem;
  width: 80rem;
  height: 45.21rem;
}
.theseNumberWere {
  margin: 0;
  font-size: var(--font-size-21xl);
}
.textfacts {
  position: absolute;
  top: 2.93rem;
  left: 0;
  display: inline-block;
  text-align: justify;
  width: 25.71rem;
  height: 14.71rem;
  font-size: var(--font-size-13xl);
}
.figureoneaboutus {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-lightblue);
  width: 12.14rem;
  height: 11.29rem;
}
.dataone,
.textdataone {
  position: absolute;
  display: inline-block;
  width: 12.21rem;
}
.dataone {
  top: 2.29rem;
  left: 2.21rem;
  white-space: pre-wrap;
  height: 7.07rem;
}
.textdataone {
  top: 12.93rem;
  left: 0;
  font-size: var(--font-size-11xl);
  text-align: center;
}
.factone {
  position: absolute;
  top: 0;
  left: 27.29rem;
  width: 14.43rem;
  height: 20.64rem;
  text-align: left;
  font-size: var(--font-size-45xl);
}
.datatwo,
.textdatatwo {
  position: absolute;
  display: inline-block;
}
.textdatatwo {
  top: 12.93rem;
  left: 0;
  width: 12.14rem;
  height: 12.57rem;
}
.datatwo {
  top: 2.29rem;
  left: 2.29rem;
  font-size: var(--font-size-45xl);
  text-align: left;
  width: 9.86rem;
  height: 6.14rem;
}
.facttwo,
.textdatathree {
  position: absolute;
  width: 12.14rem;
}
.facttwo {
  top: 0;
  left: 40.86rem;
  height: 25.5rem;
}
.textdatathree {
  top: 12.93rem;
  left: 0;
  display: inline-block;
}
.datathree {
  position: absolute;
  top: 1.93rem;
  left: 2.14rem;
  font-size: var(--font-size-45xl);
  text-align: left;
}
.factthree {
  position: absolute;
  top: 0;
  left: 54.43rem;
  width: 12.14rem;
  height: 20.64rem;
}
.sectiontwo {
  position: absolute;
  top: 115.5rem;
  left: 18.21rem;
  width: 66.57rem;
  height: 25.5rem;
  text-align: center;
  font-size: var(--font-size-11xl);
}
.textmissionaboutus,
.textvisionaboutus {
  position: absolute;
  left: 27.14rem;
  display: inline-block;
}
.textmissionaboutus {
  top: 0;
  width: 52.29rem;
}
.textvisionaboutus {
  top: 15.21rem;
  width: 52.14rem;
  height: 19.57rem;
}
.titlemissionabouus,
.titlevisionaboutus {
  position: absolute;
  top: 3.21rem;
  left: 0;
  font-size: var(--font-size-21xl);
  font-weight: 800;
  color: var(--esmeralda);
  text-align: left;
}
.titlevisionaboutus {
  top: 21.14rem;
}
.sectionone {
  position: absolute;
  top: 64.86rem;
  left: 12.07rem;
  width: 79.43rem;
  height: 34.79rem;
  text-align: justify;
}
.imgbannerabouusIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 102.86rem;
  height: 53.93rem;
  object-fit: cover;
}
.bannertextabouus {
  position: absolute;
  top: 41.5rem;
  left: 77.07rem;
  font-size: var(--font-size-21xl);
  font-weight: 800;
  color: var(--color-white);
}
.aboutUs {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 223.21rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-lato);
}
