/* ESTILOS PARA TODAS LAS SECCIONES */
.aboutUs {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  display:flex;
  flex-wrap: wrap;
  overflow: hidden;
  text-align: left;
  color: var(--color-black);
  font-family: var(--font-lato);
}

/* ESTILO PARA LA SECCION UNO */
.sectionone {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 308px;
  text-align: justify;
  padding-left: 118px;
  padding-top: 42px;
  font-size: 1.2rem;

}

.ourMissionWrapper,
.ourVisionWrapper {
  display: flex;
}

.ourVisionWrapper{
  width: 60%;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 15%;
  margin-right: 15%;
  align-items: center;
}

.ourMissionWrapper {
  width: 60%;
  height: 35%;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 15%;
  margin-right: 15%;
  align-items: center;
}

.textmissionaboutus {
  width: 70%;
}

.textvisionaboutus {
  width: 70%;
}


.titlemissionabouus,
.titlevisionaboutus {
  width: 30%;
  font-size: var(--font-size-21xl);
  font-weight: 800;
  color: var(--esmeralda);
  text-align: left;
}
.titlevisionaboutus {
  top: 21.14rem;
}

/* ESTILOS PARA SECCION DOS */
.sectiontwo {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 400px;
  text-align: center;
  font-size: 1.2rem;
  align-items: center;
  justify-content: space-evenly;
}
.factsWrapper {
  display:flex;
}

.textfacts {
  padding-right: 49px;
  padding-left: 86px;
  display: inline-block;
  text-align: justify;
  width: 25.71rem;
  height: 7.71rem;
  font-size: var(--font-size-13xl);
}
.figureoneaboutus {
  padding: 18% 10%;
  border-radius: 50%;
  background-color: var(--color-lightblue);
  width: 7.14rem;
  height: 7.29rem;

}
.dataone{
  font-size: 2.7rem;
  text-align: left;
  width: 9.86rem;
  height: 6.14rem;
}

.textdataone {


  text-align: center;
}
.factone {

  width: 7.2rem;
  height: 12.64rem;
  text-align: center;
}

.datatwo,
.textdatatwo {
  display: inline-block;
}

.datatwo {

  font-size: 2.7rem;
  text-align: left;
  width: 5.39rem;
  height: 4.14rem;
}

.facttwo {

  width: 7.2rem;
  height: 12.64rem;
  text-align: center;}
  
.textdatathree {

  display: inline-block;
}
.datathree {
  font-size: 2.7rem;
  text-align: left;
  width: 9.86rem;
  height: 6.14rem;
}
.factthree {
  width: 7.2rem;
  height: 12.64rem;
  text-align: center;
}

/* ESTILOS SECCION TRES */
.sectionthree {
  padding: 0px 17%;
  display: flex;
  width: 100%;
  height: 27.21rem;
  flex-direction: column;
}

.titlesectionthree {

  font-size: var(--font-size-21xl);
  display: inline-block;
  color: var(--esmeralda);
  width: 47.5rem;
  text-shadow: 1px 0 0#3b7a7d, 0 1px 0#3b7a7d, -1px 0 0#3b7a7d, 0-1px 0#3b7a7d;
}

.subtitlesectionthree {

  display: inline-block;
  width: 18.93rem;
}
.notCriticize {
  font-family: var(--font-lato);
}
.textsectionthree {
 
  text-align: justify;
  display: inline-block;
  width: 100%;
}
