.vectorIcon {
  position: relative;
  width: 13.33rem;
  height: 3.43rem;
  object-fit: cover;
}
.aboutUs {
  flex: 1;
}
.aboutUs,
.register {
  position: relative;
}
.bannersection,
.btnregister,
.navservices {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.btnregister {
  flex: 1;
  background-color: var(--color-silver);
  flex-shrink: 0;
  justify-content: center;
  padding: var(--padding-3xs);
}
.bannersection,
.navservices {
  justify-content: flex-start;
}
.navservices {
  margin: 0;
  width: 47.07rem;
  gap: var(--gap-20xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-lato);
}
.bannersection {
  width: 105.64rem;
  height: 55.07rem;
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-lgi) var(--padding-141xl) var(--padding-685xl);
  box-sizing: border-box;
  gap: var(--gap-294xl);
  background-image: url(/public/bannersection2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.welcomeToAsvpa {
  margin: 0;
}
.volunteerAssociationFor {
  margin: 0;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
}
.firsttitlehome {
  position: relative;
  text-align: left;
  display: inline-block;
  width: 64.71rem;
}
.secondtitlehome {
  position: relative;
  line-height: 113.5%;
}
.atAsvpasProject {
  margin: 0;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
}
.texthome {
  position: relative;
  line-height: 113.5%;
  white-space: pre-wrap;
  display: inline-block;
  width: 62.71rem;
}
.descriptionsection {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-61xl);
}
.thirdtitlehome {
  position: relative;
  display: flex;
  align-items: center;
  width: 42.07rem;
}
.projectssection {
  height: 52.57rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-61xl);
  font-size: 9.29rem;
}
.footerwrapperIcon,
.frameIcon {
  position: relative;
  object-fit: cover;
}
.footerwrapperIcon {
  width: 105.29rem;
  height: 10.43rem;
  z-index: 0;
}
.frameIcon {
  width: 2.29rem;
  height: 2.29rem;
  overflow: hidden;
  flex-shrink: 0;
}
.termsppsection,
.wasection {
  margin: 0 !important;
  position: absolute;
  top: 2.57rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.wasection {
  left: 14.21rem;
  align-items: center;
  gap: var(--gap-5xs);
  z-index: 1;
  color: var(--color-darkslategray);
}
.termsppsection {
  left: 70.71rem;
  align-items: flex-start;
  gap: var(--gap-86xl);
  z-index: 2;
}
.layer1Icon {
  position: relative;
  width: 2.43rem;
  height: 2.93rem;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.emailsection {
  margin: 0 !important;
  position: absolute;
  top: 4.86rem;
  left: 14.21rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  z-index: 3;
}
.footerservices,
.home {
  position: relative;
  display: flex;
  flex-direction: column;
}
.footerservices {
  width: 105.36rem;
  height: 10.43rem;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  font-size: var(--font-size-mini);
  color: var(--color-teal-100);
}
.home {
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: 0.29rem 0;
  box-sizing: border-box;
  gap: var(--gap-61xl);
  text-align: justify;
  font-size: var(--font-size-29xl);
  color: var(--color-darkslategray);
  font-family: var(--font-lato);
}
