/* SECTION ONE */

.sectionOneWrapper {    
  padding: 2% 15%;         
  height: 73.57rem;
  font-size: 1.2rem;
  font-family: var(--font-lato);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;

}

.eachSegmentWrapper{
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
}

 
.titleStyle {
  font-size: 1.5rem;
  letter-spacing: -0.02em;
  font-weight: 800;
  color: var(--esmeralda);
  line-height: 150%;
  width: 63%;

}

.paragraphStyle {
  color: var(--color-black);
  text-align: justify;
}

/* SECTION TWO */

.titleSectionTwo {
  color: var(--esmeralda);
  font-family: var(--font-lato);
  font-weight: bold;
  font-size: 23px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 48px;
}
.paragraphRefundWrapper{
  font-family: var(--font-lato);
  font-size: 1.2rem;
  text-align: justify;
  padding: 2% 15%;}


/* SECTION THREE */

.sectionThreeWrapper{
display: flex;
flex-direction: column;
align-items: center;


}

.titleSectionThree{
  padding: 0 15%;
  font-family: var(--font-lato);
  font-size: 1.2rem;
  text-align: justify;
  height: 92px;

}
 
.imgSectionThree{
  width: 47.93rem;
  height: 25.21rem;
  object-fit: cover;

}

.imgWrapper{
  height: 441px;

}



