@media (max-width: 450px) {
.eachSegmentWrapper{
  width: 80%;

}
.paragraphRefundWrapper{
  width: 80%;
}


}


@media (min-width: 451px) {

  .eachSegmentWrapper{
    width: 70%;
  
  }
  .paragraphRefundWrapper{
    width: 80%;
  }

}











/* SECTION ONE */

.sectionOneWrapper {
  font-size: 1.2rem;
  font-family: var(--font-lato);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  align-items: center;
}

.eachSegmentWrapper {
  margin: 15px 0px;
  display: flex;
  flex-direction: column;
}

.titleStyle {
  font-size: 1.5rem;
  letter-spacing: -0.02em;
  font-weight: 800;
  color: var(--esmeralda);
  line-height: 150%;
  width: 100%;
}

.paragraphStyle {
  color: var(--color-black);
  text-align: justify;
}

/* SECTION TWO */

.sectionTwoWrapper {
  display: flex;
  margin: 15px 0px;
  flex-direction: column;
}

.titleSectionTwo {
  color: var(--esmeralda);
  font-family: var(--font-lato);
  font-weight: bold;
  font-size: 23px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 70%;
}
.paragraphRefundWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  font-family: var(--font-lato);
  font-size: 1.2rem;
}

/* SECTION THREE */

.sectionThreeWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleSectionThree {
  padding: 0 15%;
  font-family: var(--font-lato);
  font-size: 1.2rem;
  text-align: justify;
  height: 92px;
}

.imgSectionThree {
  width: 47.93rem;
  height: 100%;
  object-fit: cover;
}

.imgWrapper {
}

.paragraphRefundInf {
  width: 70%;
}
