.contentHomeWraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 153px;
  font-family: var(--font-lato);


}

.sectionOneHomeWrapper {
  position: relative;
  text-align: left;
  display: inline-block;
  width: 69.71rem;
  padding: 52px;
  height: 204px;


}
.titleOneHome {
  color: #0c6267;
  font-size: 1.5rem;

}

.descriptionOneHome {
  font-size: 1.5rem;
  color: var(--color-black);
  padding-left: 5px;

}

.sectionTwoHomeWrapper { 
  text-align: justify;
  position: relative;
  line-height: 305.5%;
  white-space: pre-wrap;
  display: inline-block;
  width: 62.71rem;
}
.titleTwoHome {
  position: relative;
  line-height: 113.5%;
  color: #0c6267;
  font-size: 1.5rem;
}
.descriptionTwoHome {
  font-size: 1.5rem;
  color: var(--color-black);
  padding-right: 138px;
  padding-bottom: 27px;


}
.sectionThreeHomeWrapper {
  height: 52.57rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-61xl);
  line-height: 1.0;

  font-family: var(--font-lato);


}
.titleThreeHome {
  position: relative;
  display: flex;
  align-items: center;
  width: 42.07rem;
  color: #0c6267;
  padding-left: 180px;
  font-size: 6.29rem;

}














