.contentHomeWraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: var(--font-lato);
  margin-bottom: 30px ;

}

.sectionOneHomeWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  height: 154px;

}
.titleOneHome {
  color: #0c6267;
  font-size: 1.5rem;

}

.descriptionOneHome {
  font-size: 1.5rem;
  color: var(--color-black);

}

.sectionTwoHomeWrapper { 
  text-align: justify;

  line-height: 240.5%;
  white-space: pre-wrap;
 
  width: 70%;
}
.titleTwoHome {
  position: relative;
  line-height: 113.5%;
  color: #0c6267;
  font-size: 1.5rem;
}
.descriptionTwoHome {
  font-size: 1.5rem;
  color: var(--color-black);
  width: 100%;


}
.sectionThreeHomeWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;  line-height: 1.0;
  font-family: var(--font-lato);


}
.titleThreeHome {
  position: relative;
  display: flex;
  width: 100%;
  color: #0c6267;
  font-size: 6.29rem;
  justify-content: center;
  margin: 16px 0;


}














