.sectionOneWrapper, .sectionTwoWrapper {             
  font-size: 1.2rem;
  font-family: var(--font-lato);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

}

.sectionOneWrapper{
padding-bottom: 50px;

}

.wrapperOne{
  width: 33%;
  margin: 1%;

}
.wrapperImg{
  width: 26%;
  margin:1%;

}

.twoWrapper{
  display: flex;
  justify-content: center;
}


.eachSegmentWrapper{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

 
.titleStyle {
  font-size: 1.5rem;
  letter-spacing: -0.02em;
  font-weight: 800;
  color: var(--esmeralda);
  line-height: 150%;
  width: 72%;

}

.paragraphStyle {
  color: var(--color-black);
  text-align: justify;
  width: 100%;
}


.imgMtp{
  width: 100%;
  height: 100%;
  object-fit: cover;

}