/* SECCION UNO */

.sectionOneWrapper {
  height: 59.57rem;
  font-size: 1.2rem;
  font-family: var(--font-lato);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.eachSegmentWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.titleStyle {
  font-size: 1.5rem;
  letter-spacing: -0.02em;
  font-weight: 800;
  color: var(--esmeralda);
  line-height: 150%;
  width: 11%;
}

.paragraphStyle {
  color: var(--color-black);
  text-align: justify;
  width: 60%;
}

/*SECCION DOS */

.sectionTwoWrapper {
  height: 570px;
}
.titleList {
  color: var(--esmeralda);
  font-family: var(--font-lato);
  font-weight: bold;
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 91px;
}

.listAndImg {
  width: 100%;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  text-align: justify;
  display: flex;
  flex-direction: row;
}
.imgList {
  width: 25.93rem;
  height: 26.21rem;
  object-fit: cover;
}

.whatToExpect {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 231.43rem;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--esmeralda);
  font-family: var(--font-lato);
}

ul {
  list-style-type: none;
}
