@media (max-width: 450px) {
  .cardsprojecthome {
    flex-direction: column;
  }
}

@media (min-width: 450px) {
  .cardsprojecthome {
    flex-direction: row;
  }
}

.cardMatapalo,
.cardPacuare {
  width: 15.43rem;
  margin: 0% 2%;
}

.cardsprojecthome {
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 52%;
  gap: var(--gap-57xl);

}

/* Esilos botones */

.btnscardshome {
  width: 42%;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
  font-family: var(--font-lato);
  font-weight: 600;
  display: flex;
  justify-content: space-between
}



.btnMatapalo,
.btnPacuare {
  width: 11.48rem;
  max-width: 11.48rem;
  min-width: 11.48rem;
  background-color: var(--color-silver);
  margin: 30%;
}
.btnPacuare {
  display: flex;
  align-items: center;
  justify-content: center;
  
}


.btnMatapalo{
  right: 78.52%;
  left: 29%;
  display: flex;
  align-items: center;
  justify-content: center;
}


