.footer {
  position: relative;
  height: 121px;
  text-align: justify;
  font-size: var(--font-size-mini);
  color: var(--color-teal-100);
  font-family: var(--font-lato);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-623xl);
  justify-content: space-evenly;
  /* height: 100%; */
}


.whatsappDiv,
.emailDiv {
  display:flex;
}
.emailDiv {
  display: flex;
  align-items: center;
}

.termsDiv{
  display:flex;
  justify-content: space-between;
  width: 30%;

}




/* .whatsappDiv,
.termsDiv {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
 */


/* .frameIcon {
  width: 2.29rem;
  height: 2.29rem;
  overflow: hidden;
  flex-shrink: 0;
}
 */

/* .frameGroup {
  align-items: center;
  gap: var(--gap-5xs);
  color: var(--color-darkslategray);
} */
/* .termsConditionsParent {
  align-items: flex-start;
  gap: var(--gap-86xl);
} */
/* .layer1Icon {
  position: relative;
  width: 2.43rem;
  height: 2.93rem;
  overflow: hidden;
  flex-shrink: 0;
} */

/* .layer1Parent {
  flex-shrink: 0;
  align-items: center;
  gap: var(--gap-6xs);
} */
