.footer {
  text-align: justify;
  font-size: 0.9rem;
  color: var(--color-teal-100);
  font-family: var(--font-lato);
  justify-content: space-evenly;
  display: flex;
}


.whatsappDiv,
.emailDiv {
  display:flex;
}
.emailDiv {
  display: flex;
  align-items: center;
}

.wrapLeft{

  margin: 3px;
}

.wrapRight{
  margin: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


@media (max-width: 450px) {
  .footer {
    display: none; 
  }
}


