
.footer {
    background-color: #9bc0c2;
    color: #ffffff;
    padding: 30px;
    position:relative;
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: Lato;
    display: none;
}
.icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 17px;
}

.text{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    color: #157075;


}

@media (max-width: 451px) {
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
       
    }
}

