.footer {
  text-align: justify;
  font-size: var(--font-size-mini);
  color: var(--color-teal-100);
  font-family: var(--font-lato);
  display: flex;
  justify-content: space-evenly;


}


.whatsappDiv,
.emailDiv {
  display:flex;
}
.emailDiv {
  display: flex;
  align-items: center;
}





