.footerprojectsChild {
  position: absolute;
  top: 0;
  left: 0;
  width: 103.29rem;
  height: 10.14rem;
}
.frameIcon {
  width: 2.29rem;
  height: 2.29rem;
  overflow: hidden;
  flex-shrink: 0;
}
.b,
.frameIcon {
  position: relative;
}
.frameGroup,
.termsConditionsParent {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frameGroup {
  align-items: center;
  gap: var(--gap-5xs);
  color: var(--color-darkslategray);
}
.termsConditionsParent {
  align-items: flex-start;
  gap: var(--gap-86xl);
}
.layer1Icon {
  position: relative;
  width: 2.43rem;
  height: 2.93rem;
  overflow: hidden;
  flex-shrink: 0;
}
.frameParent,
.layer1Parent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.layer1Parent {
  flex-shrink: 0;
  align-items: center;
  gap: var(--gap-6xs);
}
.frameParent {
  position: absolute;
  top: 2.43rem;
  left: 11.34rem;
  width: 80.34rem;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: var(--gap-623xl);
}
.footerprojects {
  position: absolute;
  top: 0;
  left: 0;
  width: 103.29rem;
  height: 10.14rem;
  text-align: justify;
  font-size: var(--font-size-mini);
  color: var(--color-teal-100);
  font-family: var(--font-lato);
}
