.navComponent {
  position: absolute;
  top: 51px;
  right: 142px;
  justify-content: flex-start;
  gap: var(--gap-20xl);
  text-align: left;
  font-size: 1rem;
  color: var(--color-white);
  font-family: var(--font-lato);

}

.navComponent>.navContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 552px;
}

.navComponent>.navContainer>.navItem {
  display: flex;
  font-weight: 800;
  flex: 1;
  justify-content: center;
}

.navComponent>.navContainer>.navItemRegister {
 background-color: var(--color-silver);
 padding: var(--padding-3xs);
 flex: 1;
 text-align: center;
 font-weight: 800;
}

.navComponent>.registerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--color-silver);
  flex-shrink: 0;
  justify-content: center;
}
